.contenedor-bienvenida-flex {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-top: 25%;
}

.imagen-bienvenido-temporal {
    margin-top: 245px;
    margin-left: 90px;
}

.titulo {
    font: normal normal normal 22px/31px Arial Black;
    color: #1B0088;
}

.subtitulo {
    width: 664px;
    font: normal normal normal 15px/31px Arial Black;
    color: #ED1650;
}

.linea-superior {
    width: 116px;
    border-bottom: 8px solid #ED1650;
    border-radius: 30px;
}

.linea-inferior {
    border-bottom: 8px solid #1B0088;
    border-bottom-width: 10px;
    border-radius: 30px;
    width: 345px;
}
