<div class="contenedor-menu-lateral-flex">
    <h1 class="titulo">BECAJAVA2020</h1>

    <div class="contenedor-persona-flex">
        <img class="imagen-persona" src="/assets/Elipse 5.png">
        <p class="nombre-persona" >Jose Lobos Sanhueza</p>
    </div>

    <ul class="menu-informaciones-flex">
        <li>
            <div class="menu-item-informaciones" >
                <a routerLink="#">Informaciones</a>
            </div>
            <ul>
                <li class="menu-item-reportes-flex">
                    <div class="item-reporte-flex" >
                        <img class="icono-menu-reporte" src="/assets/icono (31).png" alt="">
                        <a routerLink="/reportes">Reportes</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <div class="cerrar-sesion-flex">
        <a routerLink="/">Cerrar sesion</a>
        <img src="/assets/Icon material-exit-to-app.png" alt="Configuración de lenguaje">
    </div>
    
</div>
