.contenedor-navegacion {
    position: relative;
    top: 0px;
    left: 0px;
    width: 306px;
    height: 768px;
    background: #1B0088 0% 0% no-repeat padding-box;
    opacity: 1;
    border-bottom: 2px solid #ED1650;
}

.titulo {
    position: absolute;
    left: 39px;
    top: 51px;
    left: 39px;
    width: 231px;
    height: 37px;
    text-align: left;
    font: normal normal bold 31px/38px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.area-persona {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    left: 39px;
    top: 120px;
    width: 231px;
    height: 90px;
}

.imagen-persona {
    position: absolute;
    top: 147px;
    left: 58px;
    width: 40px;
    height: 40px;
    background: transparent url('/assets/Elipse 5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}


.nombre-persona {
    position: absolute;
    top: 157px;
    left: 106px;
    width: 139px;
    height: 16px;
    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.label-informaciones {
    position: absolute;
    top: 236px;
    left: 39px;
    width: 126px;
    height: 23px;
    text-align: left;
    font: normal normal normal 16px/23px Arial Black;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.icono-informaciones {
    position: absolute;
    top: 245px;
    left: 249px;
    width: 16px;
    height: 9px;
    background: transparent url('/assets/icono (26).png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.informaciones-linea {
    position: absolute;
    top: 245px;
    left: 39px;
    width: 231px;
    border: 1px solid #ED1650;
    opacity: 1;
    margin-top: 25px;
}

.icono-reportes {
    position: absolute;
    top: 280px;
    left: 56px;
    width: 17px;
    height: 24px;
    background: transparent url('/assets/icono (31).png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.label-reportes {
    position: absolute;
    top: 283px;
    left: 87px;
    width: 70px;
    height: 19px;
    text-align: left;
    font: normal normal normal 14px/19px Arial Black;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.linea-reportes {
    position: absolute;
    top: 290px;
    left: 56px;
    width: 214px;
    border: 1px solid #01d6be;
    opacity: 1;
    margin-top: 25px;
}

.label-cerrar-sesion {
    position: absolute;
    top: 722px;
    left: 102px;
    height: 16px;
    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.icono-cerrar-sesion {
    position: absolute;
    top: 723px;
    left: 194px;
    width: 16px;
    height: 16px;
    background: transparent url('/assets/Icon material-exit-to-app.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.evento-cerrar-sesion {
    position: absolute;
    cursor: pointer;
    top: 722px;
    left: 102px;
    width: 114px;
    height: 20px;
    z-index: 100;
}

.evento-reportes {
    position: absolute;
    cursor: pointer;
    top: 270px;
    left: 56px;
    width: 215px;
    height: 46px;
    z-index: 100;
}