<app-menu-lateral class="area-menu-lateral"></app-menu-lateral>

<div class="menu-superior-y-contenido-flex">
    <app-menu-superior class="menu-superior"></app-menu-superior>

    <div class="cabecera-reporte">
        <img class="icono-reporte" src="/assets/Grupo 499.png" alt="Reportes beca java 2020">
        <h2 class="titulo-reportes">Reportes</h2>
    </div>

    <div class="contenedor-categoria-y-detalle-flex">
        <div class="contenedor-categorias">
            <h2 class="titulo-categoria">Categorías</h2>

            <ul class="menu-categorias-flex">
                <ng-container *ngFor="let categoria of categorias; let i = index">
                    <li class="menu-item">
                        <img class="icono-reportes" src="{{'/assets/' + categoria.getIconoMostrado() }}" (click) = "seleccionarCategoria(categoria)">
                        <p>{{ categoria.getNombre() }}</p>
                    </li>
                </ng-container>
            </ul>
        </div>
    
        <div class="contenedor-detalle">
            <h1 class="titulo-categoria-detalle">{{ tituloDetalleMostrado}}</h1>
        </div>
    </div>

</div>
