.fondo  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 768px;
    background: #1B0088 0% 0% no-repeat padding-box;
}

.boton {
    width: 143px;
    padding: 5px;
    margin-top: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font: normal normal normal 18px/26px Arial Black;
    color: #150567;
}

.titulo {
    width: 455px;
    height: 72px;
    font: normal normal bold 61px/74px Helvetica Neue;
    color: #FFFFFF;
}

.imagen {
    width: 91px;
    height: 91px;
}