<div class="contenedor-navegacion">
    <h1 class="titulo">BECAJAVA2020</h1>
    <div>
        <img class="imagen-persona" src="/assets/Elipse 5.png">
        <p class="nombre-persona" >Jose Lobos Sanhueza</p>
    </div>
    <ul>
        <li>
            <a routerLink="#">Informaciones</a>
            <ul>
                <li>
                    <a routerLink="/reportes">Reportes</a>
                </li>
            </ul>
        </li>
    </ul>
    <a routerLink="/">Cerrar sesion</a>
    <!--Persona-->
    <!--<div class="area-persona"></div>
    <div class="imagen-persona"></div>
    <div class="nombre-persona">José Lobos Sanhueza</div>
    <div class="label-informaciones">Informaciones</div>
    <div class="icono-informaciones"></div>
    <hr class="informaciones-linea">-->

    <!--Reportes-->
    <!--<div class="evento-reportes" (click)="reportes()"></div>
    <div class="area-reportes"></div>
    <div class="icono-reportes"></div>
    <div class="label-reportes">Reportes</div>
    <hr class="linea-reportes">-->

    <!--Sesion-->
    <!--<div class="evento-cerrar-sesion" (click)="cerrarSesion()"></div>
    <div class="label-cerrar-sesion">Cerrar sesión</div>
    <div class="icono-cerrar-sesion"></div>-->
</div>
